@model List<ViewingPlace>

<div id="map" style="height: 300px; width: 300px"></div>

<script src=@ViewBag.GoogleMapsUrl
        async defer></script>
<script>
    var geocoder;
    var map;
    function initMap() {
        var places = [];
        @{int numberOfPlaces = Model.Count;}
        @*@for(int i = 0; i < numberOfPlaces; i++)
        {
            <text>
        alert(i);
                var place@(i) = {
                    name: @Model[i].name,
                    vicinity: @Model[i].vicinity,
                    lat: @Model[i].latitude,
                    long: @Model[i].longitude,
                }
                places.push(place@(i)));
            </text>
        }*@

        @*@for(int i = 0; i < numberOfPlaces; i++)
        {
            <text>
                places[i][0] = "@Model[i].name";
                places[i][0] = "@Model[i].vicinity";
                places[i][0] = "@Model[i].latitude";
                places[i][0] = "@Model[i].longitude";
            </text>
        }*@

        geocoder = new google.maps.Geocoder();
        var uluru = { lat: -25.344, lng: 131.036 }
        map = new google.maps.Map(document.getElementById('map'), {
            center: uluru,
            zoom: 15
        });
        //var marker = new google.maps.Marker({ position: uluru, map: map });

        @foreach(ViewingPlace place in Model)
        {
            <text>
        var markerlatLng = new google.maps.LatLng(@(place.latitude), @(place.longitude));
        var name = "@(place.name)";
        var vicinity = "@(place.vicinity)";
        var contentString = '<h6>' + name + '</h6>';
        var infowindow = new google.maps.InfoWindow({ content: contentString });
        var marker = new google.maps.Marker({
            position: markerlatLng,
            title: name,
            map: map,
            draggable: false
        });
        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        })
            </text>
        }


        //codeAddress();

    }

    function codeAddress() {
        var address = "313 N Plankinton Ave";
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }
</script>
