@using Microsoft.AspNet.Identity
@using Stargazer.Models
@model CosmicBodyViewModel
@{
    ViewBag.Title = "Star";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

@Html.Hidden("UserId", User.Identity.GetUserId(), new { id = "user-id" })
@Html.Hidden("BodyName", Model.body.name, new { id = "body-name" })
@Html.Hidden("Magnitude", Model.body.name, new { id = "magnitude" })
@Html.Hidden("Declination", Model.body.declination, new { id = "declination" })
@Html.Hidden("RightAscension", Model.body.rightAscension, new { id = "right-ascension" })

<h2>@Model.body.name</h2>

<dl>
    <dt>Magnitude</dt>
    <dd>@Model.body.magnitude</dd>
    <dt>Declination</dt>
    <dd>@Model.body.declination</dd>
    <dt>Right Ascension</dt>
    <dd>@Model.body.rightAscension</dd>
    <dt>Viewing Aperatus</dt>
    <dd>@StarCalculator.GetRequiredMagnification(@Model.body.magnitude)</dd>
    <dt>Peak visibility</dt>
    <dd>@StarCalculator.GetPeakVisibilityMonth(@Model.body.rightAscension)</dd>
</dl>

@*<label>
        Latitude
        <input id="latitude" type="text" value="43.033580" />
    </label>*@

@*<label>
        Longitude
        <input id="longitude" type="text" value="-87.911910" />
    </label>*@

@if (User.Identity.IsAuthenticated && Model.userAddress != null)
{
    <label>
        Address
        <input id="address" type="text" value="@Model.userAddress" />
    </label>
}
else
{
    <label>
        Address
        <input id="address" type="text" />
    </label>
}


<button id="map-button">Map</button>
<div>
    <input type="radio" class="map-priority" name="map-priority" value="nearness" checked="checked" />
    <span>Nearness</span>
</div>
<div>
    <input type="radio" class="map-priority" name="map-priority" value="view" />
    <span>View</span>
</div>
@*@Ajax.ActionLink("Map", "Map", new { latitude = 43.033580, longitude = -87.911910, magnitude = 1 }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "map-box", InsertionMode = InsertionMode.Replace })*@


<div id="map-box">

</div>

<table>
    <tr>
        @foreach (Event newEvent in Model.events)
        {
            <td>@Html.ActionLink(newEvent.Date.ToString(), "EventDetails", new { Id = newEvent.Id })</td>
        }
    </tr>
</table>

<button id="event-button">Event</button>


<div id="event-box">

</div>


@Ajax.ActionLink("Show pictures", "GetPictures", new { bodyName = Model.body.name }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "picture-box", InsertionMode = InsertionMode.Replace })
@Html.ActionLink("Add Pictures", "PictureUpload", new { bodyName = Model.body.name })

<div id="picture-box">

</div>

<script src="/Scripts/jquery-3.3.1.js"></script>
<script>
    $("document").ready(function () {
        $("#map-button").click(function () {
            //let latitude = $("#latitude").val();
            //let longitude = $("#longitude").val();
            let address = $("#address").val();
            let magnitude = $("#magnitude").val();
            let declination = $("#declination").val();
            let priority = $(".map-priority:checked").val();
            for (i = 0; i < 10; i++) {
                address = address.replace(' ', "%20");
            }
            //let urlString = "/Details/Map?latitude=" + latitude + "&longitude=" + longitude + "&magnitude=1";
            let urlString = "/Details/MapStar?address=" + address + "&magnitude=" + magnitude + "&declination=" + declination + "&priority=" + priority;
            $("#map-box").load(urlString);

        })
        $("#event-button").click(function () {
            $("#event-box").load("/Details/GetEventPartial");
        })
    })
</script>